.Crud {
    background-color: #e5e5e5;
    padding: 3%;
}

.Button:hover {
    filter: brightness(0.9);    
}

.wrapper {
    width: 100%;
  }
  
  .tabs {
    display: flex;
    bottom: 0;
  }
  
  .tabitem {
    border-right: 0.1vw solid #fff;
    cursor: pointer;
    width: 15%;
    text-align: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
  }
  
  .tabitem--inactive {
    background-color: #515151;
  }
  
  .tabitem__title {
    color: black;
    font-size: 2vw;
    margin: 2vh 0;
  }
  
  .contentC {
    font-size: 22px;
  }